<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- Web Manifest -->
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#262626"/>
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.ico">
  

    <!-- Font Laxend Mega -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&display=swap" rel="stylesheet">

    <!--Font Quicksand-->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

    <!-- Kode yang diperintahkan untuk diganti karena asset tidak bisa di cache : <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->
    <!-- Kode yang diberikan Reviewer agar asset bisa di cache : -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 

    <title>RESTOROAD - Restaurant Apps</title>
  </head>
  <body>
    <header>
        <navigation-bar></navigation-bar>
        <hero-section></hero-section>
    </header>

    <main id="main-content" tabindex="0"></main>
    
    <footer>
        <footer-bar></footer-bar>
    </footer>

  </body>
  <script src="https://kit.fontawesome.com/741f26e0eb.js" crossorigin="anonymous"></script>
</html>

